body {
    background-color: rgb(172, 141, 178);
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.links {
  font-size: 20px;
  gap: 25px;
  display: flex;
  justify-content: flex-end;
}

hr {
  height: 3px;       /* thickness */
  background-color: black; /* color */
  border: none;      /* remove default border */
  width: 100%;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul {
    text-align: center;
    list-style: none;
    font-size: 40px;
}

ul img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

ul li {
    margin-bottom: 20px;
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(202, 26, 26, 0.2);
    width: 300px;
}

.links a:hover {
    opacity: 0.7;
}

#social-links {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}